// Fonts
$header-font-size: 1.5rem;
$header-font-mobile-portrait-font-size: 1rem; 
$default-font-size: 12px;
$default-larger-font-size: 18px;


// Screens
$mobile-portrait: 350px;
$mobile-landscape: 800px;
$desktop: 1080px; 


$default-padding:2%;
$default-link-color:#337ab7;